body {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    box-sizing: border-box;
    background-attachment: fixed;
    margin: 0px;
}

footer {
    background-color: #0cbaba;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

#all {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    min-width: 700px;
    border: 5px solid #0cbaba;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#opis {
    font-size: 25px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15%;
}

#table2 {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse: collapse;
}

#table2 th {
    border: 2px solid white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#table2 td {
    border: 2px solid white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.nazwa {
    width: 150px;
    height: 30px;
}

.odsluch {
    cursor: pointer;
}

i {
    font-size: 35px;
}

.icon-spotify:hover {
    color: #1db954;
}

.icon-youtube-play:hover {
    color: #c4302b;
}