@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    background-image: url(../img/tlo1.jpg);
}

form {
    background-image: url(../img/tlo2.jpg);
    border: 1px solid;
    display: flex;
    justify-content: center;
    width: 750px;
    padding: 25px 25px 25px 25px;
    margin-top: 135px;
}

fieldset {
    margin-bottom: 15px;
}

input {
    margin-bottom: 25px;
    margin-left: 25px;
}