@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 13.5pt;
    margin: 0px;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

#liczba {
    width: 60px;
}

#logo {
    width: 60px;
    text-align: center;
}

img {
    width: 35px;
    height: auto;
}

#nazwa {
    width: 700px;
}

#link {
    width: 60px;
    text-align: center;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: pink;
    color: black;
    border: 2px solid gray;
    transition: all 0.5s ease-in-out;
}

table,
th,
td {
    border: 0px solid black;
    border-collapse: collapse;
}

tr {
    height: 30px;
    text-align: center;
}

th {
    text-align: center;
}

#link td a {
    text-decoration: none;
}